.*.swp
Terraform/aws-credentials.ini
Terraform/ocp-ssh*
Terraform/.terraform
Terraform/terraform_apply.txt
Terraform/.terraform.lock.hcl
*.tfstate
*.tfstate.backup
Ansible/ansible.log
Ansible/group_vars/all/terraform_outputs.var
Ansible/group_vars/all/secrets
Ansible/inventory
Ansible/vault-id
Ansible/pull-secret
Ansible/oc
Ansible/installer/openshift-install
